
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/NewFolder1/Shared/_MainLayout.cshtml";
}
<link href="~/content/Style.css" rel="stylesheet" />

<div style="margin-right:-112px; margin-left:0px; margin-top:-90px;">
    <img src="~/Images/tt2.png" style="width:auto;" />
</div>
<div style="margin-top:60px; font-weight:bold; font-size:24px; padding-right:300px;  margin-bottom:60px;">
    اختـر مــزوُدك:
</div>
 <div class="col-md-12" style="margin-top:20px; height:200px; background-color:ghostwhite; float:right; margin-right:-80px;font-size:12px; text-align:center; font-weight:bold; ">
    <div class="col-md-3" style="margin-top:40px;">
        <b style="font-size:26px; font-weight:bolder;">Aramex</b>
        <br />
        <button onclick="document.location = 'https://www.aramex.com/us/en/track/shipments'"  style="height:60px; margin-top:10px; width:120px;  background-color:cornflowerblue; border-color:cornflowerblue; color:white;">TRACK NOW</button>
    </div>
     <div class="col-md-3" style="margin-top:60px;">
         <img src="~/Images/aramix.png" height="60px" width="60px" style="border-radius:10px;" />
     </div>
     <div class="col-md-3" style="margin-top:40px;">
         <b style="font-size:26px; font-weight:bolder; text-align:left;">FedEx <br />Corporation</b>
         <br />
         <button onclick="document.location = 'https://www.fedex.com/en-us/home.html'" style="height:60px; width:120px; margin-top:10px;  background-color:cornflowerblue; border-color:cornflowerblue; color:white;">TRACK NOW</button>
     </div>
     <div class="col-md-3" style="margin-top:60px;">
         <img src="~/Images/fedex.png" height="60px" width="60px" style="border-radius:10px;" />
     </div>
   
     </div>
<div class="col-md-12" style="margin-top:20px; height:200px; background-color:ghostwhite; float:right; margin-right:-80px;font-size:12px; text-align:center; font-weight:bold; ">
    <div class="col-md-3" style="margin-top:40px;">
        <b style="font-size:26px; font-weight:bolder; text-align:left;">DHL International<br />GmbH</b>
        <br />
        <button onclick="document.location = 'https://www.dhl.com/global-en/home/tracking.html?locale=true'" style="height:60px; width:120px;margin-top:10px;  background-color:cornflowerblue; border-color:cornflowerblue; color:white;">TRACK NOW</button>
    </div>
    <div class="col-md-3">
        <img src="~/Images/dhl.png" height="60px" width="50px" style="border-radius:10px; margin-top:90px;" />
    </div>
    <div class="col-md-3" style="margin-top:40px;">
        <b style="font-size:26px; font-weight:bolder; text-align:left;">Container<br />Shipping Group</b>
        <br />
        <button onclick="document.location = 'https://www.maersk.com/'" style="height:60px; width:120px; margin-top:10px;  background-color:cornflowerblue; border-color:cornflowerblue; color:white;">TRACK NOW</button>

    </div>
    <div class="col-md-3"style="margin-top:40px;">
        <img src="~/Images/i1.png" height="160px" width="50px" style="border-radius:10px;" />

    </div>
</div>

<div class="col-md-12" style="margin-top:20px; height:200px; background-color:ghostwhite; float:right; margin-right:-80px;font-size:12px; text-align:center; font-weight:bold; ">
    <div class="col-md-3"style="margin-top:40px;">
        <b style="font-size:26px; font-weight:bolder; text-align:left;">Missui O.S.K Lines</b>
        <br />
        <button onclick="document.location = 'http://www.molpower.com/htm/default.htm'" style="height:60px; width:120px;margin-top:10px;  background-color:cornflowerblue; border-color:cornflowerblue; color:white;">TRACK NOW</button>
    </div>
    <div class="col-md-3" style="margin-top:70px;">
        <img src="~/Images/i2.png" height="60px" width="60px" style="border-radius:10px; " />
    </div>
    <div class="col-md-3" style="margin-top:40px;">
        <b style="font-size:26px; font-weight:bolder; text-align:left;">Mediterranian<br />.Shipping Co</b>
        <br />
        <button onclick="document.location = 'https://www.msc.com/en/track-a-shipment'" style="height:60px; width:120px; margin-top:10px;  background-color:cornflowerblue; border-color:cornflowerblue; color:white;">TRACK NOW</button>

    </div>
    <div class="col-md-3" style="margin-top:40px;">
        <img src="~/Images/i3.jpg" height="160px" width="50px" style="border-radius:10px;" />

    </div>
</div>


<div class="col-md-12" style="margin-top:20px; height:200px; background-color:ghostwhite; float:right; margin-right:-80px;font-size:12px; text-align:center; font-weight:bold; ">
    <div class="col-md-3" style="margin-top:40px;">
        <b style="font-size:26px; font-weight:bolder; text-align:left;">Safmarine</b>
        <br />
        <button onclick="document.location = 'https://www.maersk.com/safmarine/?safrd=true'" style="height:60px; width:120px;margin-top:10px;  background-color:cornflowerblue; border-color:cornflowerblue; color:white;">TRACK NOW</button>
    </div>
    <div class="col-md-3" style="margin-top:60px;">
        <img src="~/Images/i4.jpg" height="60px" width="60px" style="border-radius:10px; " />
    </div>
    <div class="col-md-3" style="margin-top:40px;">
        <b style="font-size:26px; font-weight:bolder; text-align:left;">CMA-CCM</b>
        <br />
        <button onclick="document.location = 'https://www.cma-cgm.com/ebusiness/tracking'" style="height:60px; width:120px; margin-top:10px;  background-color:cornflowerblue; border-color:cornflowerblue; color:white;">TRACK NOW</button>

    </div>
    <div class="col-md-3" style="margin-top:25px;">
        <img src="~/Images/i5.png" height="160px" width="50px" style="border-radius:10px;" />

    </div>
</div>

<div class="col-md-12" style="margin-top:20px; height:200px; background-color:ghostwhite; float:right; margin-right:-80px;font-size:12px; text-align:center; font-weight:bold; ">
    <div class="col-md-3" style="margin-top:40px;">
        <b style="font-size:26px; font-weight:bolder; text-align:left;"> & Ignazio Messina <br />.Co</b>
        <br />
        <button onclick="document.location = 'https://www.messinaline.it/'" style="height:60px; width:120px;margin-top:10px;  background-color:cornflowerblue; border-color:cornflowerblue; color:white;">TRACK NOW</button>
    </div>
    <div class="col-md-3" style="margin-top:40px;">
        <img src="~/Images/i6.jpg" height="140px" width="50px" style="border-radius:10px; " />
    </div>
    <div class="col-md-3" style="margin-top:40px;">
        <b style="font-size:26px; font-weight:bolder; text-align:left;">Shipment Link</b>
        <br />
        <button onclick="document.location = 'https://www.evergreen-line.com/'" style="height:60px; width:120px; margin-top:10px;  background-color:cornflowerblue; border-color:cornflowerblue; color:white;">TRACK NOW</button>

    </div>
    <div class="col-md-3" style="margin-top:25px;">
        <img src="~/Images/i7.jpg" height="160px" width="50px" style="border-radius:10px; " />

    </div>
</div>


<footer class="navbar navbar-bottom myfooter" dir="ltr" style="margin-top:4400px;height:180px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <img src="~/Images/marafifoter.jpg" alt="logo" class="img-fluid" style="padding-top:50px; margin-top:-190px; margin-right:500px;">

            </div>

            <div class="col-md-6" style="margin-top:-100px; ">


                <h3>اتصل بنا</h3>
                <ul s class="footerlnk " style="list-style:none;   font-size:12px; direction:ltr">
                    <li class="py-2 ">
                        <span class="pr-1">092-7874767</span>
                        <span class="icon"> <i class="fa fa-phone" aria-hidden="true"></i></span>
                    </li>
                    <li class="py-2">
                        <a src="https://marafy.ly/?fbclid=IwAR1ZDAJ-RZmz_nk0RlWLdRIDzOx_03WX4BEzVAMKeBLjkaiecRiezIrvVNY">
                            <span class="pr-1">www.marafy.ly</span>
                        </a>
                        <i class="fa fa-fax" aria-hidden="true"></i>
                    </li>
                    <li class="py-2">
                        <span class="pr-1"></span>
                        <span class="icon"> <i aria-hidden="true"></i></span>
                    </li>
                    <li class="py-2">

                        <span class="pr-1">info@marafy.ly</span>
                        <span class="icon"> <i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </li>

                    <li class="py-2">
                        <a href="https://www.facebook.com/%D9%85%D8%B1%D8%A7%D9%81%D8%A6-%D9%84%D9%84%D8%B4%D8%AD%D9%86-%D9%88-%D8%A7%D9%84%D8%AE%D8%AF%D9%85%D8%A7%D8%AA-%D8%A7%D9%84%D9%84%D9%88%D8%AC%D8%B3%D8%AA%D9%8A%D8%A9-101417041785530" title="Facebook">
                            <span class="pr-1">مرافئ للشحن و الخدمات اللوجستية</span>
                        </a>



                    </li>
                </ul>

                <div class="social-network social-circle" style="margin-top:20px;">


                </div>

            </div>




        </div>
    </div>

</footer>
   

