body {

}
.Sliders{
  width:300px;
    overflow:hidden;
}
.Sliders ul {
    width:1500px;
    list-style:none;
  position:relative;
  animation: sliding 7s ease-in-out infinite;
  
}
.Sliders ul li{
    float:left;
    position:relative;
    margin-top:-640px;
}
.Sliders h5{
    padding:0;
    background-color:lightgrey;
    padding:4px;
    text-align:right;
    position:absolute;
    bottom:0;
    width:100%;
    color:white;
}
@keyframes sliding{
    0%{left:0}
    50%{left:-500px;}
    100%{left:-1000px;}
}
