
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/NewFolder1/Shared/_MainLayout.cshtml";
}
<link href="~/content/Style.css" rel="stylesheet" />
<div style="margin-top:-120px; margin-right:-140px;">
    <img src="~/Images/mn.png" />
</div>
<div style="margin-top:80px; ">
    <h1>
        <b>من نخدم ؟</b>
    </h1>
    <p style="margin-left:200px; font-size:18px; font-weight:bold; ">
    من خلال خبرتنا في مجال الأعمال اللوجستية فإننا نقدم مجموعة متكاملة من الخدمات، لقطاعات مختلفة من المصنعين والموردين، فنحن لا نقوم بعمليات الشحن فقط، وانما نذهب أبعد من ذلك، حيث نقوم بعمليات التفاوض مع الموردين أو الشاحنين لترتيب الشحنات ومواعيدها واختيار الطرق الأنسب للشحن، لنحافظ على تدفق سلس لواردات زبائننا.
        </p>
</div>

<div style="margin-top:100px; float:right; margin-right:-120px; margin-left:10px; font-size:16px; text-align:center; font-weight:bold; ">
    <div class="col-md-3">
        <img src="~/Images/f.jpg"  height="200px" width="300px" style="border-radius:10px;"/>
        <br />
        <br />
        موردى الألات والمعدات الزراعية والبذور والأدوية

    </div>


    <div class="col-md-3">
        <img src="~/Images/s.jpg"height="200px" width="300px" style="border-radius:10px;"/>
        <br />
        <br />
        موردى السيارات والأليات وقطع غيارها

    </div>


    <div class="col-md-3">
        <img src="~/Images/t.jpg" height="200px" width="300px" style="border-radius:10px;"/>
        <br />
        <br />
        موردى ومصنعي المواد الغذائية
    </div>


    <div class="col-md-3">
        <img src="~/Images/fo.jpg" height="200px" width="300px"style="border-radius:10px;"/>
        <br />
        <br />
        موردى الملابس
    </div>
   </div>


<div style="margin-top:100px; float:right; margin-right:-120px;font-size:16px; text-align:center; font-weight:bold; ">
    <div class="col-md-4">
        <img src="~/Images/fi.jpg"height="200px" width="400px" style="border-radius:10px;"/>
        <br />
        <br />
        موردى الأدوية والمعدات الطبية
    </div>
    <div class="col-md-4">
        <img src="~/Images/si.jpg"height="200px" width="400px" style="border-radius:10px;"/>
        <br />
        <br />
        موردى مواد البناء

    </div>
    <div class="col-md-4">
        <img src="~/Images/se.jpg"height="200px" width="400px"style="border-radius:10px;" />
        <br />
        <br />
        شركات النفط والطاقة

    </div>
</div>


<div style="margin-top:120px; margin-right:-140px;">
    <img src="~/Images/n2.png" />

</div>
<div style="margin-top:40px; margin-right:-140px;">
    <img src="~/Images/ll.png" />
</div>
<footer class="navbar navbar-bottom myfooter" dir="ltr" style="margin-top:4700px; height:180px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <img src="~/Images/marafifoter.jpg" alt="logo" class="img-fluid" style="padding-top:50px; margin-top:-190px; margin-right:500px;">

            </div>

            <div class="col-md-6" style="margin-top:-100px; ">


                <h3>اتصل بنا</h3>
                <ul s class="footerlnk " style="list-style:none;   font-size:12px; direction:ltr">
                    <li class="py-2 ">
                        <span class="pr-1">092-7874767</span>
                        <span class="icon"> <i class="fa fa-phone" aria-hidden="true"></i></span>
                    </li>
                    <li class="py-2">
                        <a src="https://marafy.ly/?fbclid=IwAR1ZDAJ-RZmz_nk0RlWLdRIDzOx_03WX4BEzVAMKeBLjkaiecRiezIrvVNY">
                            <span class="pr-1">www.marafy.ly</span>
                        </a>
                        <i class="fa fa-fax" aria-hidden="true"></i>
                    </li>
                    <li class="py-2">
                        <span class="pr-1"></span>
                        <span class="icon"> <i aria-hidden="true"></i></span>
                    </li>
                    <li class="py-2">

                        <span class="pr-1">info@marafy.ly</span>
                        <span class="icon"> <i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </li>

                    <li class="py-2">
                        <a href="https://www.facebook.com/%D9%85%D8%B1%D8%A7%D9%81%D8%A6-%D9%84%D9%84%D8%B4%D8%AD%D9%86-%D9%88-%D8%A7%D9%84%D8%AE%D8%AF%D9%85%D8%A7%D8%AA-%D8%A7%D9%84%D9%84%D9%88%D8%AC%D8%B3%D8%AA%D9%8A%D8%A9-101417041785530" title="Facebook">
                            <span class="pr-1">مرافئ للشحن و الخدمات اللوجستية</span>
                        </a>



                    </li>
                </ul>

                <div class="social-network social-circle" style="margin-top:20px;">


                </div>

            </div>




        </div>
    </div>

</footer>

