
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/NewFolder1/Shared/_MainLayout.cshtml";
}
<link href="~/content/Style.css" rel="stylesheet" />
<div style="padding-left:-80px;">
    <img src="~/Images/1.png"  style="margin-right:-200px; margin-top:-90px;margin-bottom:10px;  width:100%;" >
    </div>

<div style="margin-top:20px; margin-bottom:180px;">
    <h1 style="font-size:48px;font-weight:bolder; color:black; margin-bottom:60px; ">شركـة مرافـئ</h1>
    <div class="col-md-5" style="margin-top:-20px;">
        <div style="padding-right:10px; margin-left:50px;  font-size:16px;font-weight:bold;">
            مرافئ هي شركة لوجستية تهتم بأدق التفاصيل، يمكنها تحويل اللوجستيات إلى عامل استراتيجي للنجاح، من أجل ذلك يمكننا الاستعانة ببنيتنا التحتية المتخصصة، وخبرتنا في مجموعة واسعة من القطاعات الصناعية والتجارية.
            فمرافئ تقدم الحلول اللوجستية المناسبة، وتقدم خدمة النقل من الباب إلى الباب عن طريق النقل الجوي أو البحري أو البري، وقد قمنا بإعداد حزم خدمات فردية تأخذ في الاعتبار متطلبات العملاء المختلفة، وبالتالي فإننا نلتقي دائمًا بأعلى معايير الجودة والتميز.

            اقتناعا منا بأننا قادرون على الابتكار في مجال النقل الدولي، فإننا نقدم أفكارًا جديدة يتم تطبيقها على أنظمة الإدارة اللوجستية لدينا، ونعطي قيمة لعمليات عملائنا، نظرًا لأن هدفنا هو تحولنا إلى مساهمين في الصناعة، فإننا نقوم بابتكار وتحديث عمليات الشحن، وفقًا للمعايير العالمية الجديدة، فقدرتنا لا تنتهي عند حافة المياه.

        </div>
    </div>
    <div class="col-md-7" style="margin-top:-20px;">
        <div style="padding-right:0px; margin-left:100px;  font-size:16px;font-weight:bold;">
            <p>
                نقوم بتطوير وتنفيذ حلول النقل المحلية والعالمية للشحن البحري والجوي والنقل البري، وإذا لزم الأمر، سيعمل فريقنا على تحسين سلسلة التوريد بالكامل وتنظيم حلول مخصصة في كل مرحلة من مراحل تدفق البضائع،  ويسعدنا تنفيذ أنظمة تكنولوجيا المعلومات المناسبة لإعطائك نظرة عامة على تدفق البضائع الخاصة بك، ومن خلال العمل نحن نطور أفضل مفهوم لاحتياجات النقل والخدمات اللوجستية الخاصة بك.

                الخدمات اللوجيستية العالمية المتكاملة
                خدمات الشحن والتخزين والخدمات اللوجيستية المتخصصة معززة بأحدث التقنيات الرائدة في هذا القطاع.
            </p>
        </div>
    </div>
</div>
<div style="padding-top:120px;">
    <h1 style="font-size:36px; color:black; margin-bottom:30px; font-weight:bolder;"> رؤيتنــا:</h1>
    <p style="font-size:16px; font-weight:bold;">
    هدفنا النجاح على المدى الطويل، والذي نحققه من خلال النمو الشامل، فنحن نلبي احتياجات عملائنا من الشركات، ونقدم منتجات وخدمات مبتكرة في مجال الشحن والاعمال اللوجستية.
        </p>
</div>
<div style="font-size:16px;font-weight:bold;">
    <h1 style="font-size:36px; color:black; font-weight:bolder; padding-top:20px; ">الرؤيــــة :</h1>
    <p style=" padding-left:280px;">
        التغيير يصنع الفارق.
        تركز مرافئ على احتياجات عملك وأولوياتك، وتتبع استراتيجية تقديم الحلول المرنة والسريعة الاستجابة والموثوقة، وهي ليست مجرد نقل شحنة من نقطة إلى أخرى، فنحن لسنا سريعون فقط وموثوق بنا، لكننا نعتني كثيرًا بالعناصر الموكلة إلينا، ونعاملها على أنها ملكنا.

        تقدم مرافئ مجموعة من حلول الرؤية التي تساعدك على إدارة سلسلة التوريد بالكامل، سواء كنت تبحث عن حلول تتبع أو مراقبة نشطة لسلسلة التوريد بالكامل عن طريق خدمات إدارة الطلبات المعقدة، فإننا نساعدك على تحسين إنتاجيتك وكفاءتك.
    </p>
</div>
<div>
    <p>
        <h2 style="font-size:36px; color:black; margin-bottom:30px; font-weight:bolder; margin-top:40px;">فلسفتنـــــا</h2>
        <ul style="font-size:16px;font-weight:bold; padding-left:280px;">
            <li>من منطلق وعينا بأهمية البيئة، فالاهتمام ببيئتنا هو جزء أصيل من ثقافة منظمتنا</li>
            <li> إدراكا منا بأهمية مجتمعنا وأنه أحد ركائز نجاحنا، فنحن نولي اهتماما كبيرا بتنمية وتطوير المجتمع من حولنا.</li>
            <li> الامن والسلامة للجميع، هو من أولى اهتماماتنا.</li>
            <li>نشر الوعي والمعرفة بين العاملين يعزز من قدرتنا على تقديم أجود الخدمات لزبائننا.</li>
            <li>اهتمامنا بالكادر البشري، يعطينا قوة تنافسية من خلال زيادة فرص الابتكار والتحفيز الذاتي.</li>
            <li>عميلنا هو شريكنا، نحن نؤمن بعلاقة طويلة الأمد ومفيدة للطرفين لتعزيز القدرة التنافسية للعملاء، فنحن نرى الأشياء من منظور العميل.</li>
            <li>المحافظة على سرية العمل لزبائننا هي أحد مسؤولياتنا.</li>
        </ul>
    </p>
</div>

<div style="font-size:16px;font-weight:bold;padding-left:280px;">
    <p>
        نحن نقدر حقا اهتمامكم ودعمكم المستمر لمرافئ.
        منذ بدايتنا المتواضعة مع موقعين نفط في ليبيا والصين سنة 2020 ومرفئ تسير بخطا ثابتة، وعزم لا يلين، في مواجهة العديد من الصعاب، لتصبح رائدة في صناعة الخدمات اللوجستية، ليس في ليبيا فقط بل في منطقتنا شمال أفريقيا والشرق الأوسط.
        تفتخر مرافئ بكفاءة كوادرها البشرية، التي هي العمود الفقري لنجاحنا، فهم يبدلون قصارى جهدهم لبناء علاقات متميزة، وتقديم أفضل الحلول المصممة خصيصا لعملائنا، الذين نعتبرهم شركائنا فنجاحهم هو نجاح لنا.
        وتتمثل استراتيجية مرافئ في المضي قدما ببناء علاقات وطيدة وانشاء شراكات طويلة الأمد، للوصول لأعلى مستويات النجاح في مجال الشحن والخدمات اللوجستية.
        بشعور بالواجب والفخر نطمح أن نكون أحد لبنات اقتصاد ليبيا الواعد، لذا نأمل منكم دعمنا المستمر وثقتكم.
    </p>
</div>
<div>
    <h1 style="font-size:36px; color:black; margin-bottom:300px; margin-top:60px; margin-right:460px;">مهمتنـــــا</h1>
    <table  style="margin-top:-240px;margin-right:200px;  ">   
     <tr><td style=" padding-left:40px; "><img src="~/Images/11.png"  style="padding-right:40px;"/>
         <br />
         <br />
        <p style="text-align:right;">نلتزم مع زبائننا بتقديم خدمة عالية الجودة<br /> وموثوقة تلبي إحتياجاتهم</p></td>
         <td style=" padding-left:40px;">
             <img src="~/Images/12.png" style="padding-right:40px;"/>
             <br />
             <br />
             <p style="text-align:right;"><br />نؤمن بأن التحسين المستمر هو السبيل الوحيد<br /> للوصول إلى التميز فى الجودة</p>
         </td>

         </td>
        <td><img src="~/Images/13.png" style="padding-right:40px;"/>
         <br />
         <br />
            <p style="text-align:right;"><br />يقوم مفهوم عملنا على منع المشاكل بدلاً <br />من اكتشافها وتصحيحها بعد حدوثها</p>

         </td></tr>
        <tr style="padding-top:80px;">
            <td><img src="~/Images/14.png"  style="padding-right:40px;"/>
            <br />
            <br />
                <p style="text-align:right;">يقدر عملاؤنا اهتمامنا الشخصي، وشفافية<br /> معلوماتنا وجودتها،ودقة عملياتنا<br /></p>

            </td>
            <td><img src="~/Images/15.png" style="padding-right:40px;"/>
            <br />
            <br />
                <p style="text-align:right;"><br />نلتزم مع زبائننا بتقديم خدمة عالية الجودة<br /> وموثوقة تلبى إحتياجاتهم</p>

            </td>
        </tr>
        </table>

</div>


<div>
    <h1 style="font-size:36px; color:black; margin-bottom:30px;font-weight:bolder;">قيمنـــــــــا :</h1>
    <div style="font-size:16px;font-weight:bold; padding-left:180px;">
    <p>
        ننفذ التزاماتنا.
        إن الصدق والمسؤولية هما أساس عملنا.
        السرعة هي احدى مزايانا.
        نحن نبحث عن البساطة والشفافية في عملياتنا.
        نعتني ببيئتنا ونهتم بعملياتنا.
        تضع شركة مرافئ نفسها دائما في سوق الخدمات اللوجستية كواحدة من أفضل البدائل في الصناعة في ليبيا لتلبية احتياجات الشركات التي تستعين بمصادر خارجية لعمليات الشراء والخدمات اللوجستية.

        لقد تخصص فريقنا في تصميم جميع أنواع التخزين والتوزيع وحلول مناولة البضائع بناءً على معرفتهم وخبرتهم وتقنياتهم، ويمكنهم تقديم مستويات عالية من الجودة وبأسعار مناسبة جدًا لمجموعة متنوعة من العملاء.

        إن الاستفادة من الدراية المكتسبة في الأعمال التقليدية للشركة، والتي ترتبط ارتباطًا وثيقًا بالقطاع البحري ووظائف الموانئ، تؤدي إلى ثقافة عمل تسمح بالعمل في البيئات الأكثر تعقيدًا وأكثر سلبية، ومن ناحية أخرى، وجهة نظر لتكملة نموها من خلال تضمين وتطوير منصة تقنية قوية ومرنة تتماشى مع الطلب الحديث، والتي تدعم اليوم جزءًا كبيرًا من العمليات التي تقوم بها مرافئ للوجستيات لتلبية متطلبات غير متجانسة من العملاء الذين يطالبون بأعلى مستويات الأداء والجودة.
    </p>
        </div>
</div>


<div>
    <h1 style="font-size:30px; color:black; margin-bottom:30px;font-weight:bolder; ">نهجنــــــا:</h1>
    <p>
        <div style="font-size:16px;font-weight:bold;padding-left:180px;">
        نحن نستمع أولا.
        نحن نعمل مع العملاء عن كثب لفهم كل طلب بالتفصيل، وإشراك العملاء في الحل على طول الطريق للتوضيح والتقييم من خلال التعاون الكلي، ونفكر بشكل يضــع هدف العميل النهائي في الاعتبار.

        إن حلول النقل الخاصة بنا متجذرة في أهداف العملاء والشراكات الاستراتيجية، ونـضع جهود التحسين الشاملة لدينا في الاعتبار سلسلة التوريد الكاملة للعملاء،

        كما نقدم تتبع الشحن ومراقبة الطقس والتنبيهات، ولدينا خبرة واسعة في تقديم خدمات النقل عبر مجموعة واسعة من وسائل النقل، تتيح تلبية متطلبات البيع بالتجزئة والمرسل إليه بخدمة عالية الأداء وتخفيف المخاطر
    </p>
    </div>
</div>
<div style="margin-top:40px;">
    <h4 style="font-size:30px; color:black; margin-bottom:30px;font-weight:bolder; ">استراتيجية:</h4>
    <p style="font-size:16px;  font-weight:bold;padding-left:180px;">
        نسعى إلى تحقيق الانسجام الاقتصادي والاجتماعي والبيئي في اللوجستيات وإدارة سلسلة التوريد، من خلال تحدي الوضع الراهن في صناعة اللوجستيات، حيث تضمن استراتيجيتنا جميع أبعاد العمل بشكل مستدام وناجح.
    </p>
</div>
<div style="margin-top:20px;">
<div class="col-md-6" >
    <h3 style="font-size:36px; color:black; margin-bottom:30px;font-weight:bolder; ">السلامة</h3>
    <div style="padding-right:10px; margin-left:60px;  font-size:16px;font-weight:bold;" >
        <p>أدت المخاوف الدولية بشأن النقل وأمن الموانئ والمطارات الى تغيير جذري في وجه التجارة <br />الدولية، ومن هذا المبدأ فنحن نتبنى أقصى درجات الأمان لبضائع زبائننا<p></p>.
        وبهذا تتخد مرافئ بعض التدابير الهامة:
        </p>

        <ul>
            <li>زيادة التوعية بين العاملين.</li>
            <li>اعتماد معايير التكنولوجيا.</li>
            <li>زيادة التعاون بين الشركات وتبادل المعلومات والبيانات.</li>
            <li>زيادة خدمات الحفظ الآمن للمعلومات.</li>
        </ul>
    </div>
</div>
<div class="col-md-6">
    <h3 style="font-size:36px; color:black; margin-bottom:30px; font-weight:bolder; ">الأمن</h3>
    <div style="padding-right:10px; margin-left:60px;  font-size:16px;font-weight:bold;">
        <p >
            الالتزام بأعلى معايير السلامة هو نهجنا.
            نحن ندرك في مرافئ أهمية السلامة، سواء للعاملين او للعملاء وبضائعهم، ونحرص على توفير اعلى معايير السلامة والأمان بما يضمن سير العمل في بيئة آمنة للجميع.
            وتسعى مرافئ لتطوير هذا الجانب بمواكبة كل ما يحدث في العالم للوصول لبيئة عمل آمنة، وذلك باستمرار التدريب للعاملين على كل ما يتعلق بالسلامة والحفاظ على الأرواح والمعدات وبضائع عملائنا
        </p>
        </div>
    </div>
    </div>
<footer class="navbar navbar-bottom myfooter" dir="ltr" style="margin-top:5680px;height:180px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <img src="~/Images/marafifoter.jpg" alt="logo" class="img-fluid" style="padding-top:50px; margin-top:-190px; margin-right:500px;">

            </div>

            <div class="col-md-6" style="margin-top:-100px; ">


                <h3>اتصل بنا</h3>
                <ul s class="footerlnk " style="list-style:none;   font-size:12px; direction:ltr">
                    <li class="py-2 ">
                        <span class="pr-1">092-7874767</span>
                        <span class="icon"> <i class="fa fa-phone" aria-hidden="true"></i></span>
                    </li>
                    <li class="py-2">
                        <a src="https://marafy.ly/?fbclid=IwAR1ZDAJ-RZmz_nk0RlWLdRIDzOx_03WX4BEzVAMKeBLjkaiecRiezIrvVNY">
                            <span class="pr-1">www.marafy.ly</span>
                        </a>
                        <i class="fa fa-fax" aria-hidden="true"></i>
                    </li>
                    <li class="py-2">
                        <span class="pr-1"></span>
                        <span class="icon"> <i aria-hidden="true"></i></span>
                    </li>
                    <li class="py-2">

                        <span class="pr-1">info@marafy.ly</span>
                        <span class="icon"> <i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </li>

                    <li class="py-2">
                        <a href="https://www.facebook.com/%D9%85%D8%B1%D8%A7%D9%81%D8%A6-%D9%84%D9%84%D8%B4%D8%AD%D9%86-%D9%88-%D8%A7%D9%84%D8%AE%D8%AF%D9%85%D8%A7%D8%AA-%D8%A7%D9%84%D9%84%D9%88%D8%AC%D8%B3%D8%AA%D9%8A%D8%A9-101417041785530" title="Facebook">
                            <span class="pr-1">مرافئ للشحن و الخدمات اللوجستية</span>
                        </a>



                    </li>
                </ul>

                <div class="social-network social-circle" style="margin-top:20px;">


                </div>

            </div>




        </div>
    </div>

</footer>


