@model marafi1.Models.charging

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/NewFolder1/Shared/_ThirdLayout.cshtml";
}

<h2>حذف</h2>

<h3>هل بالفعل تريد حذف هذا العنصر؟؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="col-md-2" style="direction:ltr; font-size:18px; padding-right:90px;">نوع الشحن</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_charg)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="padding-top:40px;">
            <input type="submit" value="حذف" class="btn btn-default" style="background-color:blue; color:white;" /> |
            @Html.ActionLink("الرجوع إلى الخلف", "Index")
        </div>
    }
</div>
