@model marafi1.Models.charging

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/NewFolder1/Shared/_ThirdLayout.cshtml";
}

<h2>تفاصيل</h2>

<div style="padding-bottom:40px;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="col-md-2" style="direction:ltr; font-size:18px; padding-right:90px;">نوع الشحن</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_charg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id_charging }) |
    @Html.ActionLink("الرجوع إلى الخلف", "Index")
</p>
