
@{
    ViewBag.Title = "شركة مرافئ";
    Layout = "~/Views/NewFolder1/Shared/_MainLayout.cshtml";
}

<link href="~/content/Style.css" rel="stylesheet" />

<div class="contain" style="margin-right:180px;">
    <div class="wrapper">
        <img src="~/Images/si.jpg" />
        <img src="~/Images/se.jpg" />
        <img src="~/Images/si.jpg" />
        <img src="~/Images/se.jpg" />
    </div>
</div>




<div style="margin-top:380px;">
<br /><br /><br /><br />
<h2>لماذا مرافــئ ؟</h2>
<h4>
    <br /><br />
    اقتناعا منا بأننا قادرون على الابتكار في مجال النقل الدولي، فإننا نقدم أفكارًا جديدة يتم تطبيقها على أنظمة الإدارة اللوجستية لدينا، ونعطي قيمة لعمليات عملائنا، نظرًا لأن هدفنا هو تحولنا إلى <br /><br /> مساهمين في الصناعة، فإننا نقوم بابتكار وتحديث عمليات الشحن، <b>وفقًا للمعايير العالمية الجديدة، فقدرتنا لا تنتهي عند حافة المياه.</b>

    <br /><br /><br />
    فمرافئ تقدم الحلول اللوجستية المناسبة، وتقدم خدمة النقل من الباب إلى الباب عن طريق النقل الجوي أو البحري أو البري، وقد قمنا بإعداد حزم خدمة فردية تأخذ في الاعتبار متطلبات العملاء
    <br />
    <br />
    المختلفة، وبالتالي فإننا نلتقي دائمًا بأعلى معايير الجودة والتميز.
    <br /><br />

</h4>

<div class="navbar-collapse collapse" dir="ltr" style=" background-color:aliceblue; margin-right:-140px; padding-right:100px;">
    <h2 class="cnter">  من خدماتنـــا </h2>
    </div>
    <div class="navbar-collapse collapse" dir="ltr" style=" background-color:aliceblue; margin-right:-140px; padding-right:180px;">
        <br /><br />
        <ul class="nav navbar-nav" style="margin-top:-45px;" >

            <li class="linav">
                <center><i><img src="~/Images/f1.png" style="border-radius:50%; padding-top:20px; height:160px; width:180px; margin-top:-20px; margin-bottom:20px;" /></i></center>
                <p class="sbtitle">الشحن البحري</p>
                <p style="text-align:right;">
                    فمرافئ تقدم الحلول اللوجستية المناسبة، وتقدم خدمة النقل من الباب<br />
                    إلى الباب عن طريق النقل الجوي أو البحري أو البري، وقد قمنا<br />
                    بإعداد حزم خدمة فردية تأخذ في الاعتبار متطلبات العملاء المختلفة،<br />
                    وبالتالي فإننا نلتقي دائمًا بأعلى معايير الجودة والتمـيز<br />
                </p>
            </li>

            <li class="linav">

                <center><i><img src="~/Images/f2.png" style="border-radius:50%; padding-top:-50px;  height:140px; width:180px;"/></i></center>
                <br />
                <p class="sbtitle">الشحن الجوي</p>
                <p style="text-align:right;">
                    عندما يكون الوقت والسرعة أكثر أهمية، لكي تصل شحناتك الجوية<br />
                    بأمــان، في الوقت المحدد ووفقًا للميزانية، نستخدم مجموعة من <br />شركات الطيران وشركات النقل الجــوي الموثوق بها التي لديهـــا
                    <br /> الخبــرة والقـــدرة على التعــامل مع الشحنـــات الخاصــة
                </p>
            </li>


            <li class="linav">
                <center><i><img src="~/Images/f3 (1).png" style="border-radius:50%; margin-top:-10px;  height:160px; width:180px; padding-bottom:-20px;" /></i></center>
                <br />
                <p class="sbtitle">الشحن البري</p>
                <p style="text-align:right;">
                    لدينــا فريــق متخصص على اســتعداد لمساعدتـــك فــي جميــع
                    <br />جــوانب نقل المشاريع الخاصــة والخدمــات اللوجستيــة ، خدمــات
                    <br />نقــل المشـــاريع الخاصة، من خـــلال شبكتنـــا، نقــــدم التوصيل من <br />
                    أي مصــــدر إلى أي وجهــة، بمــا في ذلك تسليـم المفتــاح.

                </p>
            </li>


        </ul>
    </div>
    <div class="navbar-collapse collapse" dir="ltr" style=" background-color:aliceblue; margin-right:-140px; padding-right:180px; margin-top:-20px;">
        <ul class="nav navbar-nav" style="margin-top:-70px;">
            <li class="linav">

                <center><i><img src="~/Images/f4.png" style="border-radius:50%;  height:120px; width:180px;"/></i></center>
                <br />
                <p class="sbtitle">إدارة الشحن</p>
                <p style="text-align:right;">
                    تشرف إدارة الشحن على تخطيط وتنفيذ وإدارة جميع عمليات النقل <br />
                    والتوزيع، والتي تشمل حلول شحن الطرود، والطرق، والسكك <br />
                    الحديديــة، والجــو، والبحــر، ويمكنــك مراقبــة الشحنات من أي <br />
                    شركــة نقــل في الوقـت الحقيقــي، وعلى مـدار الســاعة .
                </p>
            </li>

            <li class="linav">

                <center><i><img src="~/Images/f5 (1).png" style="border-radius:50%;  height:120px; width:180px;"/></i></center>
                <br />
                <p class="sbtitle">شحنات المشروع</p>
                <p style="text-align:right;">
                    باستخدام جميع وسائل النقل، لدينا فريق مشروع مخصص يمكنه<br />
                    السفر إلى أي مكان في المنطقة، مدعومين بموظفين ذوي خبرة في <br />
                    الإشراف على المشروعـــات، من خلال العمل بهــذه الطريقــة، وبهـذا<br />
                    الفريــق يمكننــا التغلــب على التحديــات المحتملـة.
                </p>
            </li>

            <li class="linav">
                <center><i><img src="~/Images/f6.png" style="border-radius:50%;  height:120px; width:180px;"/></i></center>
                <br />
                <p class="sbtitle">البضائع الضخمة</p>
                <p style=" text-align:right;">

                    عندما تحتاج إلى نقل المشروع خاص بك، دع فريقنا يخطط وينفذ<br /> المهمة نيابة عنك ، اعتدنا على العمل مع ما هو غير عادي، . يتمتع <br />
                    فريقنا بخبرة لا بأس بها في الصناعات الرئيسية كـ ( النفط ومستلزماته ،<br />
                    الغاز ومعداته ، البتروكيماويات ، الطاقة ، التعدين ).
                </p>
            </li>

        </ul>
    </div>
    <div class="navbar-collapse collapse" dir="ltr" style="background-color:aliceblue; margin-right:-140px; padding-right:200px; margin-top:-20px;">
        <ul class="nav navbar-nav" style="margin-top:-70px;">
            <li class="linav" style="padding-left:40px">

                <center><i><img src="~/Images/f7 (1).png"  style="border-radius:50%; height:120px; width:180px;"/></i></center>
                <br />
                <p class="sbtitle">إدارة النقل</p>
                <p style="text-align:right;">
                    تساعد تقنياتنا وعملياتنا في الحفاظ على حركة<br /> الشحن، مع الحفاظ على انخفاض التكاليف،<br /> مع التركيـــز على تحسيــن سلسلة التوريــد<br /> مـن
                    البدايــة إلى النهايــة. نحــن نركــز بشكـل كلّـي<br /> على التكلفـة<br />
                    الإجمـــالية للأداء وعلى خلق قيمة للعملاء،


                </p>
            </li>

            <li class="linav">

                <center><i><img src="~/Images/f8.png" style="border-radius:50%; padding-right:20px; height:120px; width:180px;"/></i></center>
                <br />
                <p class="sbtitle">التخزين</p>
                <p style="text-align:right;">
                    ما نؤمن به ان عملنا يجب أن يكون قادراً على مواكبة<br /> التغيير، فنحن لا
                    نتوقف أبدًا عن البحث عن طرق<br /> لتحسين عمليات التخزين والتوزيع
                    الخاصة بعملائنـــا،<br /> كمـا اننــا نوفــــرمخــازن للمواد الغذائيــة
                    والأدويـــة<br /> بمواصفــات الجـــودة المطلوبــة.

                </p>
            </li>
            <li class="linav">

                <center><i><img src="~/Images/f9.png" style="border-radius:50%; padding-right:20px; height:120px; width:180px;"/></i></center>
                <br />
                <p class="sbtitle">التخليص الجمركي</p>
                <p style="text-align:right; margin-left:70px; margin-right:40px;">
                    التخليص الجمركي والتسليــم إلى عناويــن متعددة داخــل <br />البـلاد، مع
                    خدمــة من البــاب إلى البــاب أو من المطـار<br /> إلى البــاب من مطـارات
                    مختــارة في آسيــا وأوروبــا وأمريكــا <br />الشماليــة.

                </p>
            </li>

        </ul>
    </div>




    <div class="container" style="margin-right:-80px;  margin-left:-80px;">
        <div class="row">
            <h3 style="font-weight:bolder; text-align:center; margin-right:80px; margin-bottom:60px;">توفر مرافئ جميع متطلبات الشحن وحجم الحمولة</h3>
            <div class="col-md-6">

                <img src="~/Images/GoodR.png">
                <h4 class="txtright" style="margin-right:-10px; text-align:center;">حمولـــة أقـــل من الحاويــــــة ( LCL)</h4>

            </div>
            <div class="col-md-6" style="margin-bottom:120px;">

                <img src="~/Images/goodL.png">
                <h4 class="txtright" style="margin-right:-10px; text-align:center;">حمولـــة حـــاويــة كــاملــة ( FCL )</h4>

            </div>

        </div>
    </div>
    </div>
<footer class="navbar navbar-bottom myfooter" dir="ltr" style="margin-top:5300px;height:180px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <img src="~/Images/marafifoter.jpg" alt="logo" class="img-fluid" style="padding-top:50px; margin-top:-190px; margin-right:500px;">

            </div>

            <div class="col-md-6" style="margin-top:-100px; ">


                <h3>اتصل بنا</h3>
                <ul s class="footerlnk " style="list-style:none;   font-size:12px; direction:ltr">
                    <li class="py-2 ">
                        <span class="pr-1">092-7874767</span>
                        <span class="icon"> <i class="fa fa-phone" aria-hidden="true"></i></span>
                    </li>
                    <li class="py-2">
                        <a src="https://marafy.ly/?fbclid=IwAR1ZDAJ-RZmz_nk0RlWLdRIDzOx_03WX4BEzVAMKeBLjkaiecRiezIrvVNY">
                            <span class="pr-1">www.marafy.ly</span>
                        </a>
                        <i class="fa fa-fax" aria-hidden="true"></i>
                    </li>
                    <li class="py-2">
                        <span class="pr-1"></span>
                        <span class="icon"> <i aria-hidden="true"></i></span>
                    </li>
                    <li class="py-2">

                        <span class="pr-1">info@marafy.ly</span>
                        <span class="icon"> <i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </li>

                    <li class="py-2">
                        <a href="https://www.facebook.com/%D9%85%D8%B1%D8%A7%D9%81%D8%A6-%D9%84%D9%84%D8%B4%D8%AD%D9%86-%D9%88-%D8%A7%D9%84%D8%AE%D8%AF%D9%85%D8%A7%D8%AA-%D8%A7%D9%84%D9%84%D9%88%D8%AC%D8%B3%D8%AA%D9%8A%D8%A9-101417041785530" title="Facebook">
                            <span class="pr-1">مرافئ للشحن و الخدمات اللوجستية</span>
                        </a>



                    </li>
                </ul>

                <div class="social-network social-circle" style="margin-top:20px;">


                </div>

            </div>




        </div>
    </div>

</footer>






