
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/NewFolder1/Shared/_MainLayout.cshtml";
}
<link href="~/content/Style.css" rel="stylesheet" />    
<div class="slidershow niddle">
<div class="slids ">
    <input type="radio" name="r" id="r1" active/>
    <input type="radio" name="r" id="r2" />
    <input type="radio" name="r" id="r3" />
    <input type="radio" name="r" id="r4" />
    <div class="slid s1">
        <img src="~/Images/im1.jpg" />
        <div class="content" style="margin-top:-180px; font-size:24px;">
            خدماتنا
        </div>
        </div>
        <div class="slid">
            <img src="~/Images/im1.jpg" />
            <div class=" content" >
                <p>
                    <h1 style="font-size:28px; font-weight:bolder; text-align:center;">الشحـن البحـــري</h1><br />
                    نحن نسعى الى أن نكون شريكا مثاليا في الشحن البحري الدولي،
                     من خلال إقامة علاقات طويلة الأمد مع كبرى شركات الشحن البحري،
                     حتى يمكننا<br /> توفير خيارات من شحنات صغيرة، أقل من حمولة حاوية (LCL ) إلى شحنات حمولة حاوية كبيرة وكاملة FCL) )
                    ، وحتى يمكننا تقديم الخدمة كاملة<br />.
                    عندما تكون التكلفة والوقت ليست مشكلة..<br />
                    مرافئ يمكنها أن تقدم لك أسعارًا تنافسية، والقدرة التي تحتاجها – من وإلى كل ميناء رئيسي في العالم – سواء كانت احتياجاتك معقدة أو مباشرة <br />ومهما كانت البضائع الخاصة بك، يمكننا مساعدتك وجمع احتياجات وكذلك نقلها للآخرين من خلال الشحن الجوي، أو الشحن البحري أو الشحن البري.

                    <br />
                    خدمات الشحن البحري التي نقدمها:<br />

                    • حمولة حاوية كاملة.<br />

                    • أقل من حمولة حاوية.<br />

                    • حمولة غير حاويات.<br />

                    • خدمات توحيد المشتري.<br />
                </p>
            </div>
        </div>

        <div class="slid ">
            <img src="~/Images/im2.jpg" />
            <div class=" content">
                <p>
                    <h1 style="font-size:28px; font-weight:bolder; text-align:center;">الشحـن الجــــوي</h1><br />
                    عندما يكون الوقت والسرعة أكثر أهمية.


                    عندما يكون الوقت هو الجوهر، فإن النقل الجوي هو الخيار الصحيح لإيصال بضاعتك إلى وجهتها النهائية<br /> بطريقة سريعة وخالية من الاحتكاك. تساعدك هذا النوع من الشحن على تلبية متطلبات السوق، وتجاوز المنافسة، وتلبية احتياجات العملاء – كل ذلك <br />مع الحفاظ على سلسلة توريد عالمية عالية الكفاءة وسريعة الاستجابة، وأيًا كان حل الشحن الجوي الذي تختاره، فستحصل على:<br />

                    • الوصول إلى شبكة عالمية من مزودي الشحن الجوي.<br />

                    • قدرات مضمونة على مجموعة متنوعة من الطرق.<br />

                    • خدمة / دعم سريع وشامل.<br />

                    • النقل الذي يتم التعامل معه بواسطة شركات النقل.<br />

                    • خدمة متكاملة من الباب إلى الباب لمنتجاتك.<br />

                    • تتبع سلس للشحنة عبر الإنترنت.<br />

                    • الخدمة والسعر وشفافية المهلة الزمنية.<br>
                </p>
            </div>
        </div>

        <div class="slid">
            <img src="~/Images/im4.jpg" />
            <div class="content">
                <p>
                    <h1 style="font-size:28px; font-weight:bolder; text-align:center;">الشحـن البـــري</h1><br />
                    لدينا فريق متخصص على استعداد لمساعدتك في جميع جوانب نقل المشاريع الخاصة والخدمات اللوجستية.

                    خدمات نقل المشاريع الخاصة، من خلال شبكتنا،<br /> نقدم التوصيل من أي مصدر إلى أي وجهة، بما في ذلك تسليم المفتاح.<br />

                    يقدم فريقنا نهجًا متكاملًا لحل المهام المعقدة، غالبًا لنقل المشروع الخاص والخدمات اللوجستية للمشروع، مع نظام ضمان الجودة التي تضمن لك تلقي الخدمة <br />والجودة التي تحتاجها.
                </p>
            </div>
        </div>
   
    </div>
    <div class="navigation">
        <label for="r1" class="barr"></label>
        <label for="r2" class="barr"></label>
        <label for="r3" class="barr"></label>
        <label for="r4" class="barr"></label>
    </div>
</div>


<footer class="navbar navbar-bottom myfooter" dir="ltr" style="margin-top:3180px;height:180px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <img src="~/Images/marafifoter.jpg"  alt="logo" class="img-fluid" style="padding-top:50px; margin-top:-190px; margin-right:500px;">

            </div>

            <div class="col-md-6" style="margin-top:-100px; ">


                <h3>اتصل بنا</h3>
                <ul s class="footerlnk " style="list-style:none;   font-size:12px; direction:ltr">
                    <li class="py-2 ">
                        <span class="pr-1">092-7874767</span>
                        <span class="icon"> <i class="fa fa-phone" aria-hidden="true"></i></span>
                    </li>
                    <li class="py-2">
                        <a src="https://marafy.ly/?fbclid=IwAR1ZDAJ-RZmz_nk0RlWLdRIDzOx_03WX4BEzVAMKeBLjkaiecRiezIrvVNY">
                            <span class="pr-1">www.marafy.ly</span>
                        </a>
                        <i class="fa fa-fax" aria-hidden="true"></i>
                    </li>
                    <li class="py-2">
                        <span class="pr-1"></span>
                        <span class="icon"> <i aria-hidden="true"></i></span>
                    </li>
                    <li class="py-2">

                        <span class="pr-1">info@marafy.ly</span>
                        <span class="icon"> <i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </li>

                    <li class="py-2">
                        <a href="https://www.facebook.com/%D9%85%D8%B1%D8%A7%D9%81%D8%A6-%D9%84%D9%84%D8%B4%D8%AD%D9%86-%D9%88-%D8%A7%D9%84%D8%AE%D8%AF%D9%85%D8%A7%D8%AA-%D8%A7%D9%84%D9%84%D9%88%D8%AC%D8%B3%D8%AA%D9%8A%D8%A9-101417041785530" title="Facebook">
                            <span class="pr-1">مرافئ للشحن و الخدمات اللوجستية</span>
                        </a>



                    </li>
                </ul>

                <div class="social-network social-circle" style="margin-top:20px;">


                </div>

            </div>




        </div>
    </div>

</footer>

